@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Outfit:wght@400;500&display=swap');
*{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
    border: none;
}
:root{
    --fundo-preto: #242422;
    --fundo-branco: #DDDDDD;
    --fundo-laranja: #E96331;
    --fonte-cor-branca-titulo: #FFFFFF;
    --fonte-cor-branca-paragrafo: #f5f5f5;
    --fonte-cor-laranja: #E96331;
    --fonte-cor-preta-titulo: #000000;
    --fonte-cor-preta-paragrafo: #1E1E1E;
    --fonte-titulo-tamanho-grande-telas-g: 75px;
    --fonte-subtitulo-tamanho-grande-telas-g: 45px;
    --fonte-titulo-tamanho-medio-telas-g: 40px;
    --fonte-paragrafo-telas-g: 30px;
    --fonte-footer-tamanho-grande-telas-g: 70px;
    --fonte-footer-tamanho-medio-telas-g: 35px;
    --fonte-titulo-tamanho-grande-telas-m-p: 40px;
    --fonte-subtitulo-tamanho-grande-telas-m-p: 25px;
    --fonte-titulo-tamanho-medio-telas-m-p: 23px;
    --fonte-paragrafo-telas-p: 18px;
    --fonte-footer-tamanho-grande-telas-m-p: 35px;
    --fonte-footer-tamanho-medio-telas-m-p: 20px;
}

.fonte-titulos{
    font-family: 'Oswald', sans-serif;
}
.fonte-conteudo{
    font-family: 'Outfit', sans-serif;
}
.fundo-preto{
    background-color: var(--fundo-preto);
}
.fundo-branco{
    background-color: var(--fundo-branco);
}
.fundo-laranja{
    background-color: var(--fundo-laranja);
}
.fonte-cor-branca-titulo{
    color: var(--fonte-cor-branca-titulo);
}
.fonte-cor-branca-conteudo{
    color: var(--fonte-cor-branca-paragrafo);
}
.fonte-cor-laranja{
    color: var(--fonte-cor-laranja);
}
.fonte-cor-preta-conteudo{
    color: var(--fonte-cor-preta-paragrafo);
}
.center{
    text-align: center;
}

img {
    width: 350px;
    
}

@media (max-width: 700px) {
    .padding-top-bottom{
        padding-top: 15%;
        padding-bottom: 15%;
    }
    .padding-right-left{
        padding-right: 7.5%;
        padding-left: 7.5%;
    }
    .padding-bottom{
        padding-bottom: 7.5%;
    }
    .tela-inteira{
        height: 100dvh;
    }
    .fonte-titulo-grande{
        font-size: var(--fonte-titulo-tamanho-grande-telas-m-p);
    }
    .fonte-subtitulo-grande{
        font-size: var(--fonte-subtitulo-tamanho-grande-telas-m-p);
    }
    .fonte-titulo-medio{
        font-size: var(--fonte-titulo-tamanho-medio-telas-m-p);
    }
    .fonte-paragrafo{
        font-size: var(--fonte-paragrafo-telas-p);
    }
    .flex{
        display: flex;
    }
    .space-around{
        justify-content: space-around;
    }
    .align-center{
        justify-content: center;
    }
    .justify-center{
        align-content: center;
    }
    .row{
        flex-direction: row;
    }
    .column{
        flex-direction: column;
    }

    #btn{
        border-radius: 10px 10px 50px 10px; 
        box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25); 
        padding: 3%;
        padding-right: 5%;
    }
    #img-hero-row, img{
        width: 100%;
    }
    #section-03{
        background-image: linear-gradient(0deg, rgba(13, 13, 13, 0.70) 0%, rgba(13, 13, 13, 0.70) 100%), url('..\\assets\\imagens-varias-roupas.jpg');
        background-size: cover;
        background-attachment: fixed;
    }

    .icone-rede-social{
        height: 40px;
        width: 40px;
    }
}